<div className="flex flex-col h-screen">
    <Header to={budaya.back} lambang={budaya.logo} history={history}>{budaya.title}</Header>
    <div className="flex-grow">
        <div className="px-20 my-10">
            <div className="flex justify-center items-center" style={{textAlign:"center"}}>
                <img className="rounded-xl" src={budaya.content?budaya.content.gambar:""} alt=""/>
            </div>
        <h1 className="text-xl font-bold title py-5"> {budaya.content?budaya.content.judul:""} </h1>
            <p className="text-sm" dangerouslySetInnerHTML={{__html:budaya.content?budaya.content.paragraf:""}}></p>
        </div>
    </div>
</div>