/* .conten {
    text-align: center;
} */

body {
    background-color: #fffdd0
}

.conten > ul > li {
    list-style: none;
    margin-bottom: 1em;
}

.conten > ul > li > a {
    color : white;
    font-weight: bold;
    font-size: large;
}

.conten > ul > li > a:hover {
    color:rgb(216, 216, 216);
}

.conten > ul {
    background-color: rgb(75, 199, 71);
    margin: 2em auto;
    padding: 2em 0em;
    width: 80%;
    border-radius: 1em;
}

div.banner {
    text-align: center;
}

div.banner>img {
    margin: 0em auto;
    display: inline;
    width: 20%;
}