*{
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;

}
body{
    background-image: url("indonesia.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type: none;
    padding: 50px;
    font-size: 20px;
    margin-top: 20px;
    border-style: solid;
    margin-left: 20px;

}
