.foto{
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 40%;
    text-align: center;
}
.paragraf{
    background-color: rgb(75, 199, 71);
    margin: 2em auto;
    padding: 3%;
    width: 60%;
    border-radius: 1em;
    text-align: justify;
}
.title{
    color: black; 
    text-decoration: 
    transparent; font-size: 32px;
    text-align: center;
}


