body {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
}

h1.title {
    text-align: center;
}

div.container {
    margin: 0 6em;
}