.hide-nav, .hide-search {
    display: none;
}
/* .conten {
    text-align: center;
} */
body {
    min-height: 100vh;
}
#main {
    background-color: white;
}
/* 
.conten > ul > li {
    list-style: none;
    margin-bottom: 1em;
} */

.conten > ul > li:last-child {
    margin-bottom: 0;
}

.conten > ul > li > a {
    color : white;
    font-weight: bold;
    font-size: large;
}

.conten > ul > li > a:hover {
    color:rgb(216, 216, 216);
}

.conten > ul {
    background-color: rgb(75, 199, 71);
    margin: 2em auto;
    padding: 2em 0em;
    width: 80%;
    border-radius: 1em;
}

div.banner {
    text-align: center;
}

div.banner>img {
    margin: 0em auto;
    display: inline;
    width: 20%;
}


.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
.top{
    margin-bottom: 25px;
    /* text-align: center; */
}
img.logo{
    display: block;
    margin: auto;
    /* width: 10%; */
    height: 160px;
}
.foto{
    display: block;
    margin: 50px;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
}
.conten{
    /* background-color: rgb(0, 165, 0); */
    margin-left: -20px;
    margin-right: -20px;
}
/* h1 {
    color:black;
    font-size: 50px;

} */
/* body{
    overflow-x: hidden;
} */

ul.navigasi>li{
    list-style: none;
    display: inline-block;
    padding-top: 5%;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-left: 15%;

}
ul.navigasi>li>a{
    color:black;
    
}

a.kembali>svg{
    color:black;
    margin-top: 10px;
    height: 100px;
    width: 100px;

}

.conten > ul > li {
    list-style: none;
    margin-bottom: 1em;
}

.conten > ul > li > a {
    color : white;
    font-weight: bold;
    font-size: large;
}

.conten > ul > li > a:hover {
    color:rgb(216, 216, 216);
}

.conten > ul {
    background-color: rgb(75, 199, 71);
    margin: 2em auto;
    padding: 2em 0em;
    width: 60%;
    border-radius: 1em;
}



body {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
}

h1.title {
    text-align: center;
}

div.container {
    margin: 0 6em;
}
.logoabout{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5%;
    padding-top: 3%;
}

.isi{
    margin: 10%;
    margin-bottom: -5%;
    padding-bottom: -10%;
}

.kelompok{
    padding-top: -10%;
    margin: 10%;
}

.list-decimal{
    margin: 10%;
    margin-top: 2%;
}
html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

div#main {
    min-height: 100%;
}
/* div.content {
    margin: 1em 10%;
    background-color: rgb(75, 199, 71);
    padding: 1em 2em;
    border-radius: 6px;
}

div.container {
    padding: 1em;
    background-color: #94ff90;
    margin-bottom: 1em;
    border-radius: 6px;
}

div.container:last-child {
    margin-bottom: 0;
}

div.container > * {
    margin-bottom: 1em;
}
div.container > *:last-child {
    margin-bottom: 0;
} */

body {
    padding: 0;
    margin: 0;
    /* background-image: url(/images/kalimantan.jpg); */
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    position: absolute;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}

.login-header {
    /* background-image: url(/images/kalimantan.jpg); */
    background-size: cover;
    padding: 90px 30px;
    color: white;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.login-area {
    text-align: center;
    padding: 50px 50px 30px 50px;
}

.username,
.password {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    color: white;
    background-color: #ED553B;
    margin-bottom: 15px;
    transition: .5s;
}
r 
.username::placeholder,
.password::placeholder {
    color: rgba(255, 255, 255, .7);
}

.username:focus,
.password:focus {
    background-color: #ED553B;
}

.submit{
    width: 150px;
    padding: 10px;
    background-color: #ED553B;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(28, 16, 39);
}

a {
    display: block;
    font-size: x-small;
    text-decoration: none;
    color: #ED553B;
    margin-top: 10px;
}
.react-slideshow-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.react-slideshow-container .nav{z-index:10}.react-slideshow-container .default-nav{height:30px;background:rgba(255,255,255,0.6);width:30px;border:0;text-align:center;cursor:pointer;color:#fff;border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.react-slideshow-container .default-nav:hover,.react-slideshow-container .default-nav:focus{background:#fff;color:#666;outline:0}.react-slideshow-container .default-nav.disabled:hover{cursor:not-allowed}.react-slideshow-container .default-nav:first-of-type{margin-right:-30px;border-right:0;border-top:0}.react-slideshow-container .default-nav:last-of-type{margin-left:-30px}.react-slideshow-container+ul.indicators{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-top:20px}.react-slideshow-container+ul.indicators li{display:inline-block;position:relative;width:7px;height:7px;padding:5px;margin:0}.react-slideshow-container+ul.indicators .each-slideshow-indicator{border:0;opacity:.25;cursor:pointer;background:transparent;color:transparent}.react-slideshow-container+ul.indicators .each-slideshow-indicator:before{position:absolute;top:0;left:0;width:7px;height:7px;border-radius:50%;content:'';background:#000;text-align:center}.react-slideshow-container+ul.indicators .each-slideshow-indicator:hover,.react-slideshow-container+ul.indicators .each-slideshow-indicator.active,.react-slideshow-container+ul.indicators .each-slideshow-indicator:focus{opacity:.75;outline:0}.react-slideshow-fade-wrapper{width:100%;overflow:hidden}.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap>div{position:relative;opacity:0}.react-slideshow-wrapper.slide{width:100%;overflow:hidden}.react-slideshow-wrapper .images-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.react-slideshow-zoom-wrapper{width:100%;overflow:hidden}.react-slideshow-zoom-wrapper .zoom-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;overflow:hidden}.react-slideshow-zoom-wrapper .zoom-wrapper>div{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex}

/*# sourceMappingURL=main.css.map */
