img{
    width: 50%;
    height: 50%;
}
body{
    background-color: burlywood;
    font-family: 'Slabo 27px', serif;
}
h1 {
    color: white;
    background-color: rgb(9, 156, 9);
    padding: 2%;

}

ul.navigasi>li{
    list-style: none;
    background-color: rgb(9, 156, 9);
    display: inline-block;
    margin: 0px;
    padding: 50px;
    font-size: 50px;
    margin: 50px;

}
ul.navigasi>li>a{
    color:white;
    
}